# Qodana is a code quality analysis tool that helps you to improve your code quality and find bugs and security vulnerabilities.
# This helps with keeping code quality high and reducing the number of bugs and security vulnerabilities in your code.
#
# To learn more about Qodana, visit https://www.jetbrains.com/help/qodana/getting-started.html

name: "Qodana"

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      actions: read
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2024.1.3
      - name: 'Publish to CodeQL'
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
          category: jetbrains-qodana